.notfound-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 82vh;
}

.not-image {
  width: 30%;
}
.not-heading {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
}

.not-description {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}
